[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulp = "*"
numpy = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
flake8-import-order = "*"

[requires]
python_version = "3.9"
